<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_before">
        <observer name="set_av_status_after_order_created" instance="OneAccount\OneAccountAgeVerification\Observer\OrderPlaceBefore" />
    </event>
    <event name="checkout_onepage_controller_success_action">
        <observer name="send_order_info_to_oneaccount_order_place_after" instance="OneAccount\OneAccountAgeVerification\Observer\OrderPlaceAfter"/>
    </event>
</config>
