<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="oneaccount_tab" translate="label" sortOrder="60">
            <label>OneAccount</label>
        </tab>
        <section id="oneaccount" translate="label" type="text" sortOrder="100" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <label>General</label>
            <tab>oneaccount_tab</tab>
            <resource>OneAccount_OneAccountAgeVerification::ek_config</resource>
            <group id="general" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="clientID" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>clientID</label>
                    <comment>Enter your clientID from 1account.net</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="clientSecret" translate="label" type="obscure" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>clientSecret</label>
                    <comment>Enter your clientSecret from 1account.net</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
